<div id="sidr" data-ng-controller="loginController">
    <!-- Your content -->
    <div class="main">
        <form role="form">
            <div class="form-group login-fine-print">Sign in with Social Media</div>
            <a id="github_sign_in" href="#" class="btn btn-twitter btn-block" data-ng-click="loginWithGithub()">
                <i class="fa fa-github"></i>
                Sign in with Github</a>
            <a id="linkedin_sign_in" href="#" class="btn btn-facebook btn-block">
                <i class="fa fa-linkedin"></i>
                Sign in with LinkedIn</a>
        </form>
        <br>
        <div class="login-or">
            <hr class="hr-or">
            <span class="span-or"></span>
        </div>

        <form role="form">
            <div class="form-group login-fine-print">Sign in with Email</div>
            <div class="form-group">
                <label for="inputUsernameEmail">Email</label>
                <input type="text" class="form-control" id="loginEmail">
            </div>
            <div class="form-group">
                <!--<a class="pull-right" href="#">Forgot password?</a>-->
                <label for="inputPassword">Password</label>
                <input type="password" class="form-control" id="loginPassword">
            </div>
            <button id="sign_in" type="submit" class="btn btn btn-primary btn-block">
                <i class="fa fa-sign-in"></i> Log In</button>
        </form>
    </div>
</div>